$fonts-path: '@~/assets/fonts/';
$images-path: '../assets/images/';

$z-index-the-header:       1;

$gutter-main:               20px;

$padding-main:              8px;

$border-size-main:          1px;
$border-color-main:         #424b50;
$border-color-main-dark:    #1d262b;

$border-radius-main:        12px;

$box-shadow-blur-size-main: 25px;
$box-shadow-size-main:      8px;
$box-shadow-color-main:     #000000;

$background-color-main:     #596267;
$background-color-ground:   #313c45;
$background-color-sky:      #40494f;

$text-color-main:           #d3d8dc;
$text-color-theme-primary:  #2fa3f6;
$text-color-theme-warning:  #efc03f;
$text-color-theme-success:  #afff40;

$link-color-main:           #e0b342;